<%- include('./base/header.ejs')  %>
 <div class="conatiner">
    <div class="alert bg-success my-3" style="margin: 0px 250px;">
     <h2 class="text-center" style="color:white">Add New Student</h2>
    </div>
 </div>
 <div class="container" style="height:150px;width:355px">
    <div class="row" style="background-color:#a2b9bc;border-radius:3%">
        <div class="col">
            <div class="col">
                <div class="col">
            <form action="/add/student" method="post">
                <div>
                    <label for="" class="form-label">Roll No.</label>
                    <input type="text" name="rollNo" class="form-control">
                </div>
                <div>
                    <label for="" class="form-label">First Name</label>
                    <input type="text" name="firstName" class="form-control">
                </div>
                <div>
                    <label for="" class="form-label">Last Name</label>
                    <input type="text" name="lastName" class="form-control">
                </div>
                <div>
                    <label for="" class="form-label">Father Name</label>
                    <input type="text" name="fatherName" class="form-control">
                </div>
                <div>
                    <label for="" class="form-label">Adhar Card No.</label>
                    <input type="text" name="adharCardNo" class="form-control">
                </div>
                <div>
                    <label for="" class="form-label">Mobile No.</label>
                    <input type="text" name="mobileNo" class="form-control">
                </div>
                <input type="submit" name="Add student" class="btn btn-warning my-3 w-100">
            </form>
                </div>
            </div>
        </div>
    </div>
 </div>
<%- include('./base/footer.ejs')  %>
